<h1>All Bookings</h1>
<% @bookings.each do |booking| %>
  <h3>Booking Details</h3>
  <p>Check-in: <%= booking.check_in %></p>
  <p>Check-out: <%= booking.check_out %></p>
  <p>Duration: <%= booking.duration %> days</p>
  <p>Total Price: <%= booking.total_price %></p>
    <%= link_to t('bookings.leave_review'), new_listing_review_path(booking.listing_id, booking_id: booking.id) %>
<% end %>