<h1>New Booking</h1>

<%= form_for @booking do |f| %>
<%= f.hidden_field :listing_id, value: @listing.id %>
  <div>
    <%= f.label :check_in %>
    <%= f.date_field :check_in %>
  </div>

  <div>
    <%= f.label :check_out %>
    <%= f.date_field :check_out %>
  </div>

  <div>
    <%= f.submit 'Create Booking' %>
  </div>
<% end %>